/* Here I am Importing Various fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Style For the Tags (main elements) */
body {
    font-family:'Poppins', sans-serif; ;
    margin:  0;
}
section {
    height: 500px;
}



/* Style For Class */
.highlight-header{
font-size: 50px;
color: #FF458E;

}
.half-width-01{

    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left:  4%;
    margin-top: 2%;
}

.half-width-01 img{
    width: 95%;
}
.for-bg {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
    }
.btn-link {

    text-decoration: none;
    background-image: linear-gradient(#FF4890,  #eb0d65 );
    border-radius:  5px;
    color:  white;
    padding: 10px 20px;
    

/* Style For IDs */


